* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    max-height: 70px;
    
}

.navbar .logo {
    color: #f9faf8;
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex; /*Targeting this specifically makes the list items each one item, rather than one item together as it is under navbar container. Now these can be targeted individually.*/
}

.navbar ul li {
 margin-left: 20px;
}


ul {
    list-style: none;
}
    

a {
    color: #f9faf8;
    text-decoration: none;
    font-weight: bold; 
}

.navbar .a:hover {
 color: aqua;
}


