* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings;
}

h1, h2 {
    margin-bottom: 12px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    max-height: 70px;
    
}

.navbar .logo {
    color: #f9faf8;
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex; /*Targeting this specifically makes the list items each one item, rather than one item together as it is under navbar container. Now these can be targeted individually.*/
}

.navbar ul li {
 margin-left: 20px;
}

ul {
    list-style: none;
}
    
a {
    color: #f9faf8;
    text-decoration: none;
    font-weight: bold; 
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 400px;
}

.header .h1 {
 font-weight: 900;
 line-height: 1.2;
}

.header img {
    max-width: 450px;
    height: auto;
}

.header .container {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 145px;
}

.header p {
    text-align: start;
    width: 370px;
}

.header button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100px;
}

.title {
    background-color: #f9faf8;
    height: 60px;
}

.title .container {
    display: flex;
    padding: 30px;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    background-color: #f9faf8;
    height: 400px;
}

.boxes .container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.box {
    flex: 1;
    color: #1f2937;
    font-size: large;
}

.box img {
    max-width: 350px;
    max-height: auto;
    border-radius: 100px;
}


.content {
    background-color: #e5e7eb;
    height: 400px;
}

.content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    gap: 12px;
    text-align: justify;
    align-items: center;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    color: #1f2937;
}

.banner {
    display: flex;
    background-color: #f9faf8;
    height: 400px;
    align-items: center;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    color: #f9faf8;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
}

.banner button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100px;
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color:#f9faf8;
    font-size: 18px;
}

